*.o

*.txt~
*.xml
*.in
*.cmake
*.cbp
*.exe
*.bin
*.c
*.make
*.internal
*.includecashe
*.check_cache
*.log
*.cxx
*.marks
*.dir
*.iml
*.stackdump
CMakeLists.txt
CMakeCXXCompilerId.cpp
CMakeCashe.txt
Makefile2
TargetDirectories.txt
clion-environment.txt
clion-log.txt
Makefile